flows.json
[
    {
        "id": "7a4e68c4dbd71147",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca7d53debd0d04c1",
        "type": "mqtt in",
        "z": "7a4e68c4dbd71147",
        "name": "",
        "topic": "test/timestamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10c0e2687d71e145",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "07d00a1a61d4d6a6"
            ]
        ]
    },
    {
        "id": "e1176d14895587b5",
        "type": "mqtt out",
        "z": "7a4e68c4dbd71147",
        "name": "",
        "topic": "test/timestamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10c0e2687d71e145",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "07d00a1a61d4d6a6",
        "type": "debug",
        "z": "7a4e68c4dbd71147",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "a545494e0cff1e97",
        "type": "inject",
        "z": "7a4e68c4dbd71147",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "e1176d14895587b5"
            ]
        ]
    },
    {
        "id": "10c0e2687d71e145",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]